name: Build and Upload Deltroid
on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  build:
    name: Build and upload Deltroid
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'macos-12'
            version: '14.2'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Checkout submodules
        uses: srt32/git-actions@v0.0.3
        with:
          args: git submodule update --force --recursive --init --remote

      - name: Install dependencies
        run: brew install ldid

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1.4.1
        with:
          xcode-version: ${{ matrix.version }}

      - name: Build Deltroid
        run: |
          xcodebuild -project Delta.xcodeproj \
          -scheme Delta \
          -sdk iphoneos \
          archive -archivePath ./archive \
          CODE_SIGNING_REQUIRED=NO \
          AD_HOC_CODE_SIGNING_ALLOWED=YES \
          CODE_SIGNING_ALLOWED=NO \
          DEVELOPMENT_TEAM=XYZ0123456 \
          ORG_IDENTIFIER=com.Deltroid \
          | xcpretty && exit ${PIPESTATUS[0]}
      - name: Fakesign app
        run: |
          rm -rf archive.xcarchive/Products/Applications/Deltroid.app/Frameworks/DeltroidCore.framework/Frameworks/
          ldid -SDeltroid/Resources/tempEnt.plist archive.xcarchive/Products/Applications/Deltroid.app/Deltroid
      - name: Convert to IPA
        run: |
          mkdir Payload
          mkdir Payload/Deltroid.app
          cp -R archive.xcarchive/Products/Applications/Deltroid.app/ Payload/Deltroid.app/
          zip -r Deltroid.ipa Payload
      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: Deltroid.ipa
          path: Deltroid.ipa
